[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = https://github.com/ugmurthy/LoveIt.git
[submodule "themes/black-and-light"]
	path = themes/black-and-light
	url = https://github.com/davidhampgonsalves/hugo-black-and-light-theme.git
